<!DOCTYPE html>
<html>
<head>
<title>Koko ono</title>
<meta charset="UTF-8">
<link href="../styles/main.css" rel="stylesheet" type="text/css">
</head>

body{background-color: lightblue;
}

h1{ text-align: center;

}
h2{color: purple; font-size: larger; font-family: cursive; background-color: white;


}