<!DOCTYPE html>
<html>
  <head>
    <title>Koko Ono</title>
    <meta charset="UTF-8">
    <link href="main.css" rel="stylesheet" type="text/css" />
</head>

body{background-color: lightblue;}

h1{ text-align: center;}
h2{color: purple; font-size: larger; font-family: cursive; background-color: white;}