body{background-color: lightblue;}

h1{ text-align: center;    text-align: center;
  border-style: dashed;
  color: orangered;
  padding-left: 10px;
  padding-right: 5px;
  font-size: xxx-large;
  margin-top: 25px;
  margin-right: 50px;
  margin-left: 100px;
  margin-bottom: 75px;}
h2{color: purple; font-size: larger; font-family: cursive; background-color: white;}